# ==========================================
# CONFIGURATION SERVEUR & APPLICATION
# ==========================================
MODE=
PORT_EXPRESS=
IP_FRONTEND=
DOTENV_CONFIG_QUIET=
FRONTEND_URL=

# ==========================================
# BASE DE DONNÉES
# ==========================================
BDD_URL=

# ==========================================
# SÉCURITÉ & AUTHENTIFICATION
# ==========================================
COOKIE_SECRET=
CHAINE_JWT_COOKIE=
EMAIL_ADMINISTRATEUR=
EMAIL_ADMINISTRATEUR2=
MDP_ADMINISTRATEUR=
EMAIL_ADHERENT=
INTERNAL_SECRET=
CLOUDFLARE_SECRET_KEY=

# ==========================================
# GOOGLE OAUTH
# ==========================================
GOOGLE_CLIENT_ID=
GOOGLE_O_AUTH=

# ==========================================
# SERVICE D'ENVOI D'EMAILS / BREVO
# ==========================================
KEY_BREVO=
MAIL_FROM=
MAIL_CONTACT_CLUB=
MAIL_UTILISATEUR=

DOSSIER_TEXTES=
DOSSIER_IMAGES=

# ==========================================
# HELLO ASSO
# ==========================================

HELLOASSO_CLIENT_ID=
HELLOASSO_CLIENT_SECRET=
HELLOASSO_SLUG=
HELLOASSO_BASE_URL=
HELLOASSO_CLIENT_ID=